@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);


}

input {
    font-size: 2em;
    margin-bottom: 30px;
}

.output {
    border: 2px solid #222;
    padding: 30px 15px;
    background-color: #0006;
}